{% extends "base.html" %}
{% load static %}
{% block title %}Scala AI{% endblock %}
{% block content %}
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Extended UI /</span> Text Divider</h4>

      <div class="row">

        <!-- Basic -->
        <div class="col-md-12 mb-4">
          <div class="card">
            <h5 class="card-header">Basic</h5>
            <div class="card-body">
              <div class="divider">
                <div class="divider-text">Text</div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Basic -->

      </div>

    </div>
    <!-- / Content -->
{% endblock %}